{% load static %}
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{% static 'Book/bookingPage.css'%}" />
       <link rel="stylesheet" href="{% static 'Book/bookingstyle.css'%}" />
      <link rel="stylesheet" href="{% static 'Book/style.css'%}"  />
       <link rel="stylesheet" href="{% static 'Book/header.css'%}"  />
       <link rel="stylesheet" href="{% static 'Book/bootstrap.css'%}"  />

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<div class="jumbotron" style="padding-top:10px;height:200px">
  <div class="container text-center">
    <h1>The Book</h1>

  </div>
</div>

{% block content %}
{%endblock%}

</body>
</html>