{% extends "Book/base.html"%}
{%block content%}
<div>
    <div class="container" style="margin-top:1em;">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    {%for user in users%}
                    <li class="list-group-item">
                        <pre>{{user.username}}   {{user.email}}   <a href="{% url 'edit-user-details' user.pk%}">Edit User Details</a>   <a href="{% url 'delete-user' user.username %}">Delete User</a>    <a href="{% url 'change_password' user.username%}">Change Password</a></pre>
                    </li>
                    {%endfor%}
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock%}