{% extends "Book/base.html"%}
{%block content%}
<div>
    <div class="container" style="margin-top:1em;">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    {%if users%}
                    <h1>Staff Members </h1>
                    {%for user in users%}
                    <li class="list-group-item">
                        <pre><label class="control-label col-sm-4">{{user.username}}  {{user.email}}</label><a href="{% url 'edit-user-details' user.pk%}">Edit User Details</a>   <a href="{% url 'delete-user' user.username %}">Delete User</a>    <a href="{% url 'change_password' user.username%}">Change Password</a></pre>
                    </li>
                    {%endfor%}
                    {%else%}
                    <h1> No Staff To Manage </h1>
                    {%endif%}
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock%}